.secret-letter-container {
  display: grid;
  justify-content: center;
  min-height: 100vh;
  background: radial-gradient(at top left, rgba(251, 171, 126, 1) 0%, rgba(247, 206, 104, 1) 100%);
  /* text-align: center; */
  padding: 3rem;
}
.secret-letter {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2rem;
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.7);
  position: relative;
  display: grid;
  grid-gap: 5px;
}
.secret-letter::before {
  content: '❤';
  color: red;
  font-size: 5rem;
  display: block;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-30%, -30%) rotate(-20deg);
}
.secret-letter::after {
  content: '❤';
  color: red;
  font-size: 5rem;
  display: block;
  line-height: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(30%, 30%) rotate(10deg);
}

.secret-letter__heading-1 {
  color: red;
}
.secret-letter__heading-2 {
}
.secret-letter__heading-3 {
}
.secret-letter__heading-4 {
}
.secret-letter__quotes {
  background: rgba(255, 255, 255, 0.6);
  padding: 5px;
  border-radius: 1rem;
  margin: 0 1rem;
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 1.4rem;
}
